/*
  Custom styles for Trackster App
*/
html{
	font-size: 16px;
}
body{
	font-family: "Work Sans", sans-serif;
	line-height: 2.5;
}
/*HEADER SECTION*/
a,
a:hover,
a:focus {
  text-decoration: none;
}
.header{
	background-color: #22013f;
	padding: 2.75rem 0;
}
.header h1{
	font-family: "Righteous", sans-serif;
	color: rgb(255,0,171);
	font-size: 2.5rem;
	margin-top: 0;
	margin-bottom: 0;
}
.title{
}
.title:hover{
	transform: scale(2,2) translateX(200px);
	transition: .4s ease;
}
.header input{
	border-radius: 19px;
	margin-right: 1rem;
}
.header .search{
	background-color: #ff00ab;
	text-align: center;
	color: #22013f;
	border-radius: 19px;
	font-size: 2rem;
	padding: .3rem;
}
.header .search:hover{
	background-color: #ff66cc;
	cursor: pointer;
}
.attrib{
	background-color: #6800ff;
	color: white;
	font-weight: 500;
}
.attrib a{
	color: white;
}
.attrib a:hover{
	color: black;
	transition: 1s ease;
}
/*TRACKS SECTION*/
.tracklist .track{
	color: rgb(74,74,74);
	border-bottom: 1px solid rgb(204,204,204);
	font-size: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.tracklist .row:hover{
	background-color: rgb(239,237,242);
}
.tracklist .play{
	margin-top: auto;
	margin-bottom: auto;
	color: rgb(255,0,171);
	font-size: 2rem;
	text-decoration: none;
}
.tracklist .track .play:hover{
	color: #ff66cc;
}
.tracklist .track, .tracklist .play, .tracklist div, .tracklist a{
	display: flex;
	align-items: center;
}